<?xml version="1.0"?>

<launch>
  <include file="$(find raspicam)/launch/raspicam.launch"/>
  <include file="$(find ball_following)/launch/tracker.launch"/>
  <include file="$(find ball_following)/launch/apriltag.launch"/>
  <!-- <include file="$(find ball_following)/launch/follower.launch"/> -->
</launch>
