# BALL FOLLOWER
ball_y_th: 80     # Pixel threshold, check ball is close enough to follow (240)
ball_x_th: 30     # Pixel threshold, ball tolerance left/right from centre (320)
turn_amount: 10   # Amount Marty turns left/right when following ball
ball_size_th: 26  # Size in pixels, threshold for checking ball closeness
goal_th: 15       # Angle threshold, goal alignment before kicking
apriltag_off: -7.5 # Offset in cm, +left/-right offset of goal from apriltag
